body {
    background-color: black;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

image {align-self: center ;}

  h1  { color: white;
    text-align: center;
    font-family: sans-serif;
}
  h2  { color: white;
    text-align: center;
}
  h3  { color: white;
    text-align: center;
}
  p1  { color: white;
}
  a { color:pink}

  img {height: 10000; width: 5000;}